[flake8]
exclude = .git, */.ipynb_checkpoints
ignore = E203, E266, E501, W503

# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
max-line-length = 120
extend-ignore = E203
max-complexity = 16
select = B,C,E,F,W,T4,B9
