
@import '_variables.scss';

@import "../../node_modules/@fontsource/open-sans/index.css";

// Import Bootstrap and BootstrapVue SCSS files (order is important)
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';

@import '../../node_modules/swiper/css/swiper.css';

/* Background */
nav {
    background-color: $deep-sea-blue;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $white;
    margin-bottom: $spacer*10;
}

.main-area {
    color: $deep-sea-blue;
}

.card {
    background-color: $white;
    border: none;
}

.card-header {
    border:none;
    background-color: $white;
}

.flex {
    display: flex;
}

.footer {
    padding: $spacer*2 0 $spacer*2 0;
    background-color: $deep-sea-blue;
}

/* Foreground */
h1, h2, h3
{
    text-align: center;
    color: $deep-sea-blue;
}

/* Details */
// Navbar 
a.nav-link {
    color: $white;
}
// Team Selector
:root {
    --swiper-theme-color: $deep-sea-blue !important;
}

.swiper-slide {
    opacity: 10%;
    &:hover {
        opacity: 65%;
    }
}

.swiper-container {
    margin-left: 50px;
    margin-right: 50px;
    position: initial;
}
.swiper-slide-active {
    opacity: 100%;
}

// Image related
img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
}

// Slider
.vue-slider-dot-handle {
    border: 2px solid $ice-blue !important;
}

.vue-slider:hover 
.vue-slider-dot-handle  {
        border: 2px solid $boundless-blue !important;
}
.vue-slider-dot-handle-disabled {
    cursor: not-allowed;
    border-color: #ddd !important;
}

.vue-slider-process {
    background-color: $ice-blue !important;
}

.vue-slider:hover .vue-slider-process {
    background-color: $boundless-blue !important;
}

.vue-slider-disabled .vue-slider-process{
    background-color: #a7a7a7 !important;
}

.vue-slider-rail {
    background-color: #d4d4d4 !important;
}

.vue-slider-rail:hover {
    background-color: #bbbbbb !important;
}

// Tabs
.nav-link[role=tab] {
    color: $deep-sea-blue !important;
    border: 1px solid $deep-sea-blue;
    border-radius: 0px !important;
}
.nav-link.active[role=tab] {
    border: 1px solid $deep-sea-blue;
    color: $white !important;
    background-color: $deep-sea-blue !important;
}

// Tables
.capitalize {
    text-transform: capitalize;
}

.table-header {
    background-color: $ice-blue !important;
    color: $deep-sea-blue !important;
}

// Note: this solves the issue of a white line at the top of the table 
th, td {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
}

.disabled-table td {
    color: #a7a7a7 !important;
}

// Footer
.btn-info {
    color: $deep-sea-blue;
    background-color: $ice-blue;
    border-color: $ice-blue;
}

.btn-info:disabled {
    color: $deep-sea-blue;
    background-color: $ice-blue;
    border-color: $ice-blue;
}

.btn-info:hover {
    color: #fff;
    background-color: $boundless-blue;
    border-color: $boundless-blue;
}

a#advanced-options{
    color: $ice-blue
}

// Advanced Settings modal
.percentage {
    width: 4rem;
}

a.toggle {
    color: $boundless-blue;
    a:hover {
        color: $boundless-blue;
    }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

#intro-modal{
    .modal-content 
    {
        height: 650px;
    }
}

// Loading Screen
.loading-screen {
    z-index: 2000 !important;
}
.loading-circle {
    width: 75px !important;;
    height: 75px !important;;
    border: 4px solid transparent !important;
    border-left-color: $deep-sea-blue !important;
    animation-duration: 0.75s !important;
    margin: 0 auto;
  }

  .loading-text {
    color: $deep-sea-blue!important;
    font-size: 2rem !important;
    text-align: justify!important;
  }