@import "../../node_modules/@fontsource/open-sans/index.css";

// Import Bootstrap and BootstrapVue SCSS files (order is important)
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';

@import '_variables.scss';
@import '_mixins.scss';

// Background
nav {
	background-color: $ice-blue;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: $deep-sea-blue;
	margin-bottom: $spacer*10;
}

.main-area {
	color: $ice-blue;
}

.card {
	background-color: $deep-sea-blue;
}

.card-header {
	border:none;
}

.flex {
	display: flex;
}

.footer {
	padding: $spacer*2 0 $spacer*2 0;
	background-color: $ice-blue;
}

// Foreground
h1, h2
{
	text-align: center;
	color: white;
}

// Details
// Image related

img
{
	max-width: 80%;
	height: auto;
	background-color: transparent;
	min-width: 30px;
	width: 3%;
	height:auto;
}

// slider

// Tabs

// Table related styling
td {
	color: $ice-blue;
}




