.navbar-default {
	background-color: #ffaa00;
	border-color: #966b11;
	background-image: none;
}
.navbar-default .navbar-brand {
	color: #291c01;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #eee8d8;
}
.navbar-default .navbar-text {
	color: #291c01;
}
.navbar-default .navbar-nav > li > a {
	color: #291c01;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #eee8d8;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
	background-color: #ffaa00;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	color: #291c01;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	color: #eee8d8;
	background-color: #966b11;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	background-color: #966b11;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #eee8d8;
	background-color: #966b11;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #eee8d8;
	background-color: #966b11;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #eee8d8;
	background-color: #966b11;
}
.navbar-default .navbar-toggle {
	border-color: #966b11;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #966b11;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #291c01;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #291c01;
}
.navbar-default .navbar-link {
	color: #291c01;
}
.navbar-default .navbar-link:hover {
	color: #eee8d8;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #291c01;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #eee8d8;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #eee8d8;
	background-color: #966b11;
	}
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #cbd1dd;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color: #966b11;
	color:#eee8d8;
}

.visible-mobile
{
    display: none!important;
}

.hidden-mobile
{
    display: normal!important;
}

@media (max-width: 400px)
{
	.visible-mobile
	{
		display: block!important;
	}

	.hidden-mobile
	{
      display: none!important;
    }
}

.panel-table
{
	empty-cells: show;
	display: table;
	width: 100%!important;
	overflow: hidden;
	text-align: center;
}

#no-bottom
{
	margin-bottom: 0px;
}

#low-bottom
{
	margin-bottom: 3px;
}
.panel-table thead
{
	background-color: #cbd1dd;
}

.panel-table > thead > td
{
	width: 50%
}

.panel-table  td,
.panel-table  th
{
    border: 1px solid #000;
}

.panel-table td
{
	display: table-cell;
	padding: 2px;
	border: 1px solid #ddd;
	margin: 0px;
}

.fluid-container
{
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}

.center img
{
	min-width: 30px;
	width: 3%;
	height:auto;
}

.center img:hover {
    opacity: .5;
}

#vegas-placeholder img
{
	height: 33vh;
}

img
{
	max-width: 80%;
	height: auto;
}
.navbar .navbar-inverse .navbar-fixed-top
{
	color: #ffaa00;
}

#left, #right
{
	text-align: center;
}

#collapse
{
	background-color: #3f3d47;
	max-height: 70%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 92.8;
}

.parameter-heading
{
	text-align: center;
}

.page-header{
	text-align: center;
}

.black
{
	color: #291c01;
}

.white
{
	color: #eee8d8;
}

#normal:link
{
	color: #0000EE;
}

#normal:visited
{
	 color: #551A8B;
 }

.center
{
	display: block;
	margin: 0 auto;
	width: 100%
}

.top-center
{
	display: block;
	margin: 0 auto;
	width: 65%;
}

.scrollable h3
{
	margin-top: 10px;
	margin-bottom: 5px;
}

.vegas
{
	margin-bottom: 39px;
}

.parameter-center
{
	float: center;
	display: block;
	margin: 0 auto;
}

#parameter-center
{
	align-items: center;
	text-align: center;
}

.team-table
{
	width: 90%;
	margin: auto;
}

div#ANA.team-table,
div#VGK.team-table
{
	display: block;
}
.table-team th
{
	text-align: center;
	width: 400px;
	table-layout: fixed;
	padding: 0 0 0 0;
	white-space: pre-wrap;
}

.table-team td
{
	text-align: center;
	table-layout: fixed;
	white-space: nowrap;
	overflow: hidden;
}

.table-team>thead>tr>th, .table-team>tbody>tr>th, .table-team>tfoot>tr>th, .table-team>thead>tr>td, .table-team>tbody>tr>td, .table-team>tfoot>tr>td{
    padding: 2px;
}

.sliders
{
	white-space: nowrap;
	max-width: 400px;
	width: 100% !important;
}

.buttons
{
display: inline-block;
}

.slider
{
	padding-left: 10px;
	min-width: 120px;
	width: 100% !important;
}

label
{
	font-weight: normal !important;
}

#parameters
{
	padding-bottom: 15px;
}

.scrollable
{
	overflow: auto;
	text-align: center;
	height: 450px;
}

h3
{
	margin: 5;
}

#top-parameters
{
	table-layout: fixed;
	white-space: nowrap;
}

#top-parameters > tbody > tr > td
{
	display: table-cell;
	padding-right: 12px;
}

input[type=checkbox][title]
{
	outline: 3px solid #EE0000;
}
#wrapper {
	padding: 5px;
  display: flex;
  justify-content: center;
}

.modal-loading
{
    display:    none;
    position:   fixed;
    z-index:    1002;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 )
                url('/static/images/ajax-loader.gif')
                50% 50%
                no-repeat;
	text-align: center;
	vertical-align: middle;
}

#optimizing_text
{
	position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -10% 0 0 -25%;
}

body.loading .modal-loading {
    display: block;
}

#optimize
{
	cursor: pointer;
	cursor: hand;
}

#vegas-placeholder
{
	padding-top: 55px;
}

.problem_formulation td
{
	padding: 4px;
}

.middle
{
	text-align: center;
}

figure .image {

    max-height: 360px;
	width: auto;
}

figure {
    text-align: center;
    display: table;
    max-width: 70%; /* demo; set some amount (px or %) if you can */
    margin: 10px auto; /* not needed unless you want centered */
}


#master,
#ufa
{
	margin-right: 5px;
}


table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

select
{
	height:40px;
	width: 210px;
}

.date
{
	text-align: right;
}

.selected
{
	color: green;
}

#footer {
	position:fixed;
	bottom:0;
	width:100%;
	background-color: #ffaa00;
	padding-top: 6px;
	padding-bottom: 6px;
 }

input[type=number]
{
	width:65px;
}

.inline h5,
.inline p {
	display: inline;
    vertical-align: top;
}